/* General Styles for About Us Page */
html, body {
    background-color: #F5F5F5;
    color: #2E8B57;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default paddings */
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding-top: 70px; /* Adjusted to be less than the header height */
    flex: 1;
    width: 100%;
    margin: 0; /* Ensure no margin */
}

#about {
    position: relative;
    background: url('images/stormseeker-Vz9A8luADG4-unsplash.jpg') no-repeat center center/cover;
    color: #FFFFFF;
    min-height: calc(100vh - 70px); /* Ensure it covers the viewport height minus the header */
}

#about .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px 0;
    min-height: 100%; /* Ensure it covers the full height of the section */
}

#about h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-logo {
    width: 150px;
    margin-bottom: 20px;
}

footer {
    background-color: #6B8E23;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer .created-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

footer .created-by p {
    margin: 0;
    margin-right: 10px;
}

footer .creator-logo {
    height: 30px;
}
