/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #F5F5F5;
    color: #2E8B57;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

#schedule iframe {
    width: 100%;
    height: 600px;
    border: 0;
}

footer {
    background-color: #6B8E23;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0; /* Reduced padding */
    width: 100%;
    margin-top: auto; /* Ensure it stays at the bottom of the content */
}

footer .created-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

footer .created-by p {
    margin: 0;
    margin-right: 10px;
}

footer .creator-logo {
    height: 30px;
}
